[submodule "themes/cactusPlus"]
	path = themes/cactusPlus
	url = https://github.com/nodejh/hugo-theme-cactus-plus.git
[submodule "themes/hello-friend"]
	path = themes/hello-friend
	url = https://github.com/panr/hugo-theme-hello-friend.git
[submodule "themes/coder-portfolio"]
	path = themes/coder-portfolio
	url = https://github.com/naro143/hugo-coder-portfolio
[submodule "public"]
	path = public
	url = git@github.com:sowusu/sowusu.github.io
